@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 3 199 87;
  --background-start-rgb: 3 199 87;
  --background-end-rgb: 3 199 87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 3 199 87;
    --background-start-rgb: 3 199 87;
    --background-end-rgb: 3 199 87;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
